@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-contrast: #212121;
  --background-light: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background-contrast: var(--background-contrast);
  --color-background-light: var(--background-light);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}